<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小薇学院task1</title>
</head>
<body>
    <div class="nav">
    <h1>网站一级标题</h1>
    <ul>
        <li><a href="#">首页</a></li>
        <li><a href="#">博客</a> </li>
        <li><a href="#">留言</a> </li>
        <li><a href="#">关于我</a> </li>
    </ul>
    </div>
    <div class="passage">
    <h2>文章一级标题</h2>
    <h3>文章二级标题</h3>
    <p>
        文章作者&nbsp;文章发表时间
    </p>
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
        eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
        Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit
        amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
        sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget
        tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim
        ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent
        dapibus, neque id cursus <a href="#">这里有一个链接</a>faucibus, tortor neque egestas augue, eu vulputate
        magna eros eu erat. Aliquam <br>换行erat volutpat. Nam dui mi, tincidunt quis,
        ccumsan porttitor, facilisis luctus, metu
        <br><img src="/static/base.png"><br>
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
        eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
        Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit
        amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
        sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget
        tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim
        ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent
        dapibus, neque id cursus <a href="#">这里有一个链接</a>faucibus, tortor neque egestas augue, eu vulputate
        magna eros eu erat. Aliquam <br>换行erat volutpat. Nam dui mi, tincidunt quis,
        ccumsan porttitor, facilisis luctus, metu
    </p>
    </div>
    <div class="passage">
    <h2>另一篇文章一级标题</h2>
    <h3>文章二级标题</h3>
    <p>
        文章作者 文章发表时间
    </p>
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
        eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
        Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit
        amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
        sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget
        tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim
        ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent
        dapibus, neque id cursus <a href="#">这里有一个链接</a>faucibus, tortor neque egestas augue, eu vulputate
        magna eros eu erat. Aliquam <br>换行erat volutpat. Nam dui mi, tincidunt quis,
        ccumsan porttitor, facilisis luctus, metu
    </p>
    <img src="/static/base.png"/>
    <ul>
        <li>无序列表1</li>
        <li>无序列表2</li>
        <li>无序列表3</li>
    </ul>
    </div>
    <div class="photos">
    <h1>图片欣赏</h1>
    <p>
        <span>好看的图片1</span><br><img src="/static/base.png"/><br>
        <span>好看的图片2</span><br><img src="/static/base.png"/><br>
        <span>好看的图片3</span><br><img src="/static/base.png"/><br>
        <span>好看的图片4</span><br><img src="/static/base.png"/><br>
    </p>
    </div>
    <div class="passage">
    <h1>最后一篇文章的一级标题</h1>
    <h2>文章的二级标题</h2>
    <h3>文章作者&nbsp;文章发表时间</h3>
    <ol>
        <li>排名第一</li>
        <li>排名第二</li>
        <li>排名第三</li>
    </ol>
    <h6>下面是一个表格,添加border="1"可以更好的看出是一个表格</h6>
    <table border="1">
        <tr>
            <th>表头</th>
            <th>表头</th>
            <th>表头</th>
        </tr>
        <tr>
            <td>表头操作内容</td>
            <td>表头操作内容</td>
            <td><a href="#">操作</a> </td>
        </tr>
        <tr>
            <td>表头操作内容</td>
            <td>表头操作内容</td>
            <td><a href="#">操作</a> </td>
        </tr>
        <tr>
            <td>表头操作内容</td>
            <td>表头操作内容</td>
            <td><a href="#">操作</a> </td>
        </tr>
        <tr>
            <td>表头操作内容</td>
            <td>表头操作内容</td>
            <td><a href="#">操作</a> </td>
        </tr>
        <tr>
            <td colspan="2">总计</td>
            <td>10000</td>
        </tr>
    </table>
    </div>
    <div class="userInfo">
    <h2>这里是一个侧栏</h2>
    <h3>这里是侧栏的标题</h3>
        <form>
            <span>请输入邮箱地址</span><input type="email" placeholder="这是一个文本输入框"/><br>
            <span>邮箱地址请按照格式输入</span><br>
            <span>请输入密码</span><input type="password" placeholder="这是一个文本输入框"/ >
            <span>请重复输入密码</span><input type="password" placeholder="这是一个文本输入框"/><br>
            <span>密码为6-16位英文数字</span>
            <p>
                <span>性别:&nbsp;</span>
                男<input type="radio" value="male" name="sex" />
                女<input type="radio" value="male" name="sex" />
                <span>城市:&nbsp;</span>
                <select>
                    <option value="beijing">北京</option>
                    <option value="shanghai">上海</option>
                    <option value="guangzhou">广州</option>
                </select>
                <span>爱好:</span>
                <input type="checkbox"/>运动
                <input type="checkbox"/>科学
                <input type="checkbox"/>艺术
                <span>个人描述:</span>
                <textarea>这是填写您个人描述的地方</textarea>
                <button>确认提交</button>
            </p>
        </form>
    </div>
    <div class="footer">
        版权所有&copy;
    </div>

</body>
</html>